body {
  margin: 0;
}
.red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border-style: solid;
  background-image: url(image/Gemini_Generated_Image_kjn1k0kjn1k0kjn1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  background-image: url(image/small.webp);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 4px 0px rgba(18, 3, 105, 0.9);
}

.open{
    display: flex;
}

.pas {
  width: 80px;
  display: inline-block;
}
.pas::placeholder {
  font-size: 15px;
  -top: 3px;
  padding-bottom: 3px;
}

button {
  display: inline-block;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;

} 